/*
 *
 * Style
 *
*/

body {
	font-family: $font-stack;
	color: $font-primary-color;
	background: $body-bg;
}

a {
	color: $primary-color;
	&:hover {color: $link-hover-color;}
}

.btn-default {
	color: $btn-default-color;
	background: $btn-default-bg;
	border-color: $btn-default-border;
}

.btn-primary {
	color: $btn-primary-color;
	background: $btn-primary-bg;
	border-color: $btn-primary-border;
}
