footer.l-footer
	.container
		p &copy; #[span#year] The Wizard. All rights reserved. Web Design by #[a(href="http://thewizard.it" target="_blank") The Wizard]

script.
	var d = new Date();
	var n = d.getFullYear();
	document.getElementById("year").innerHTML = n;
