//- Define mixin
mixin post(title, category)
	//- This sets all provided attributes
	.post&attributes(attributes)
		//- This sets the specified attribute
		.post-inner(class!=attributes.class)
			img.img-responsive
			h1.post-title
				a(href="#")= title
			span.post-category
				a(href="#")= category
			if block
				block
			else
				h2.post-desc No content provided.

//- Usage
+post("My Title", "My Category")(class="my-class", id="my-id")
	h2.post-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi illum doloribus hic. Eius quas veritatis expedita quo itaque dolores voluptatibus voluptatum commodi inventore fugiat aliquid ea eos, ipsam repellendus hic!
