doctype html
head
	meta(charset='utf-8')        
	title 404 Page Not Found
	// Favicon
	link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
	style.
		body {
			background: #fff;
			font-family: Helvetica, Arial, sans-serif;
			text-align: center;
		}
		a {
			text-decoration: none;
		}
		h1 {
			font-weight: 500;
		}
		.container {
			width: 570px;
			margin: 0 auto;
		}
		.btn {
			display: inline-block;
			background: #de5900;
			color: #fff;
			width: auto;
			font-size: 20px;
			padding: 15px 25px;
			border: 2px solid #de5900;
			transition: .25s;
			margin-top: 30px;
		}
		.btn:hover {
			background: #fff;
			color: #de5900;
		}
body
	.container
		h1 Error 404 - Page not found
		img(src='images/404.jpg', alt='')
		p Sorry, we couldn&apos;t find the page you are looking for.
		a.btn(href='/') Go Home
