extends master

block title
	title Crusader

block content

	//- include partials/header
	
	.crusader
		img(src="images/crusader.png")
		h1 Crusader is ready to purge the #[a(href="javascript:;") evil]

	//- include partials/footer
	