extends master

block title
	title Crusader

include partials/mixins

block content

	//- include partials/header
	
	.crusader
		img(src="images/crusader.png")
		h1 Crusader is ready to purge the #[a(href="http://github.com/pwnjack/crusader") evil]

	//- include partials/footer

	//- include partials/analytics
	